PORT="" 				# Provide a value for PORT

SESSION_SECRET="" 				# Provide a value for SESSION_SECRET

DB_USER="" 				# Provide a value for DB_USER
DB_PASSWORD="" 				# Provide a value for DB_PASSWORD
DB_NAME="" 				# Provide a value for DB_NAME
DB_HOST="" 				# Provide a value for DB_HOST
DB_PORT="" 				# Provide a value for DB_PORT

POSTGRES_USER="" 				# Provide a value for POSTGRES_USER
POSTGRES_PASSWORD="" 				# Provide a value for POSTGRES_PASSWORD
POSTGRES_DB="" 				# Provide a value for POSTGRES_DB

DATABASE_URL="" 				# Provide a value for DATABASE_URL

MINIO_ENDPOINT="" 				# Provide a value for MINIO_ENDPOINT
MINIO_PORT="" 				# Provide a value for MINIO_PORT
MINIO_ACCESS_KEY="" 				# Provide a value for MINIO_ACCESS_KEY
MINIO_SECRET_KEY="" 				# Provide a value for MINIO_SECRET_KEY
